.DS_Store

# for client side development
.sass-cache/
.tscache/
tsd-cache/
node_modules/
bower_components/
bower-task/
src/main/typescript/libs/
tscommand.tmp.txt

src/test/typescript/*.js
src/test/typescript/*.js.map
src/test/typescript/*.d.ts
src/test/typescript/libs/

src/test/resources/typescript/data/

src/main/webapp/css

src/main/webapp/scripts/*.js
src/main/webapp/scripts/**/*.js
src/main/webapp/scripts/*.js.map
src/main/webapp/scripts/*.d.ts

# espower generated
src/test/typescriptEspowered/

# bower generated
src/main/webapp/scripts/libs/*

# tsd generated

# karma generated
test-results.xml

# WebStorm meta file
.idea/
